@media screen and (max-width:576px) {
   
    .navbar-collapse{
        background-color: var(--third-color);
        width: 100%;
      }
      .navbar-collapse li{
        padding: 5px 0;
        width: fit-content;
        margin: auto;
      }
      .navbar-collapse li  a{
        color: var(--color-icon) !important;
      }
    .about  .about-img .inner::after{
        left:10px;
    }
    .home h2 {
        font-size:28px ;
    }
    .navbar-collapse  ul{
      position: absolute;
      width: 100% !important;
      left: 0;
      background-color: #fff !important;
      text-align: center;
      padding: 20px 0;
      transition: 1s;
    }
}
@media screen and (min-width:576px) and (max-width:768px) {
   
    .navbar-collapse{
        background-color: var(--third-color);
        width: 100%;
      }
      .navbar-collapse li{
        padding: 5px 0;
        width: fit-content;
        margin: auto;
      }
      .navbar-collapse li  a{
        color: var(--color-icon) !important;
      }
    #about  .about-img .inner::after{
        left:10px;
    }
    .navbar-collapse  ul{
      position: absolute;
      width: 100% !important;
      left: 0;
      background-color: #fff !important;
      text-align: center;
      padding: 20px 0;
    }
}
@media screen and (min-width:768px) and (max-width:991px){

.navbar-collapse{
    background-color: var(--third-color);
  }
  .navbar-collapse li{
    padding: 5px 0;
    width: fit-content;
    margin: auto;
  }
  .navbar-collapse li  a{
    color: var(--color-icon) !important;
  }
  .navbar-collapse  ul{
    position: absolute;
    width: 100% !important;
    left: 0;
    background-color: #fff !important;
    text-align: center;
    padding: 20px 0;
  }
  
}


